@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 900px) {
  .logocontainer {
    width: 13%;
  }
}
@media screen and (max-width: 900px) {
  .logocontainer {
    width: 40%;
  }
}

.courseCard {
  box-shadow: 0 0 3px navy;
  transition: transform 0.5s;
}

.card-img-top {
  border-bottom: 3px solid gray !important;
}

.txtcenter {
  text-align: justify !important;
  font-size: 18px !important;
}

.courseCard:hover {
  background-color: rgb(249, 249, 198);
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
.teachersCard {
  box-shadow: 0 0 3px navy;
}
.teachersCard:hover {
  margin-top: -15px;
  transition: all 0.5s ease-in-out;
}

.courseHeading {
  text-shadow: 0 0 2px black;
}

.bgsecondary {
  background-color: rgb(192, 224, 250);
}

.teacherImg {
  border-radius: 50%;
}

.htmlUl {
  text-align: justify;
  line-height: 1.7rem;
  font-size: 17px !important;
}

.aboutUsPara {
  text-align: justify;
}


.topbg {
  background-image: url(./Images/bg4.webp);
  background-size: cover;
}

.btns {
  background-color: rgb(248, 112, 62);
  border-radius: 10px;
  box-shadow: 0 5px 30px 0 rgba(86, 90, 207, 0.3);
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 40px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 1.3;
    color: #1f2278;
  }
}
@media screen and (min-width: 900px) {
  .title {
    font-size: 55px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    line-height: 1.3;
    color: #1f2278;
  }
}
